@model IList<Netpress.Models.Post>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Netpress CMS";
    int pCount = ViewBag.Count ?? 0;
}

<div class="large-12 small-12 columns">
	<div class="row">
		<div style="position:relative; top:20px;" class="panel radius" id="disc-panel">
			<div class="row">
				<div id="repoMessage" class="large-4 small-4 columns">
					<h4 style="font-family:opensans_light; font-size:27px;">Stay updated with development.</h4>
					<p style="opacity:.7; font-size:16px;">Visit the official github repository for Netpress CMS and stay up-to-date with Netpress CMS's growth!</p>
					<hr/>
					<ul style="list-style:bullet;">
						<li><a href="#">Main git repo.</a></li>
						<li><a href="#">Netpress portfolio.</a></li>
						<li><a href="#">Documentation.</a></li>
					</ul>
				</div>
				<div id="devMessage" class="large-4 small-4 columns">
					<h4 style="font-family:opensans_light; font-size:27px;">Help Netpress evolve!</h4>
					<p style="opacity:.7; font-size:16px;">See what it takes to build Netpress using our API and development tools.</p>
					<hr/>
					<ul style="list-style:bullet;">
						<li><a href="#">Installation guide.</a></li>
						<li><a href="#">SDK Download</a></li>
					</ul>
				</div>
				<div id="followMessage" class="large-4 small-4 columns">
					<h4 style="font-family:opensans_light; font-size:27px;">Follow us</h4>
					<p style="opacity:.7; font-size:16px;">Follow us on twitter/facebook for news and updates regarding Netpress CMS and other products by Sykes Creatives.</p>
					<hr/>
					<ul style="list-style:bullet;">
						<li><a href="#">Twitter</a></li>
						<li><a href="#">Facebook</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<hr style="margin-bottom:20px;"/>
	<div style="margin-top:20px;" class="row">
		<div class="large-8 small-8 columns" id="pWrapper">
			@if(pCount==0)
			{
				<p style="font-style:italic; font-size:25px; color:#008cba;">No Posts</p>
			}
			@foreach(Netpress.Models.Post p in Model)
			{	
				if(p != null)
				{	
					string thumbnail = (!p.thumbnail.Contains("http")) ? "~/Content/Images/BlueMoon.png" : p.thumbnail;
					<div style="margin-bottom:0;" class="row">
						<div class="large-12 small-12 columns">
							<div class="large-1 small-1 columns">
								<div class="postTabs text-center">
									<p href="@Href("~/Home/p/" + p.id)?" style="margin:0; color:#777; font-size:22px;" class="month">@p.time.ToString("MMM").ToUpper()</p>
									<p style="margin:0; color:#777; text-align:center; background:#eee;" class="day">@p.time.ToString("dd")</p>
								</div>
							</div>
							<div style="padding:0 10px 0 7px;" class="large-2 small-2 columns">
								<img src="@Href(thumbnail)" alt="" class="th expand radius" /> 
							</div>
							<div style="padding:0;" class="large-9 small-9 columns">			
								<a href="@Href("~/Home/p/" + p.id)" style="font-weight:100; color:#008cba; font-size:32px; margin:0;">@p.title 
									<a data-tooltip href="@Href("~/Home/edit_post/" + p.id)" style="padding:4px 8px 4px 8px; font-weight:bold; font-size:12.5px;" class="small button right radius" title="Make changes to @p.title">Edit Post</a>
								</a>
								<p style="font-family:opensans_italic; font-size:16px; margin:0 0 15px 15px;;">Written by, @p.author</p>
								<p style="font-size:17px; margin-top:-10px;">@p.body</p>
							</div>
						</div>
					</div>
					<hr style="margin-top:-50px; opacity:0.5 " class="radius" />
				}
			}
		</div>
		<div class="large-4 small-4 columns">
			<div class="panel radius">
				<p>Yoo.</p>
			</div>
		</div>
	</div>
</div>